<body>
    <div class="fullscreen-container">
      <div class="login-container">
        <h1>Login</h1>   
         
          <div class="input-group">
            <input type="text" placeholder="Username" id="text" name="text" class="input-username"> 
          </div>        
          <div class="input-group">
            <input type="password" placeholder="Password" id="password" name="password" class="input-password">
          </div>      
          <button routerLink="/adminmodule/admin-dashboard">Login</button>       
          <a href="" class="forgot-password">Forgot Password?</a>  
        
      </div>
    </div>
  </body>